
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Home Page</h2>
<br />
<img src="~/Content/Images/sfl_en_logo.jpg" height="80" />
<p></p>
<div class="card card-body bg-light">

    <h3>Welcome to SFL Online Admin!</h3>
    <br/>
    <h4>You can manage all the system operations.</h4>
</div>
